In [10]:
from googleplaces import GooglePlaces, types, lang
from googlemaps import Client as GoogleMaps
from gmplot import gmplot
import pickle
import time
from decimal import Decimal
import pandas as pd
# pip install gmplot
import os

near_By_Roads = []

In [9]:
def Read_API_KEY_From_File(file_Path):
    list_Key = []
    with open(file_Path) as file_text:
        for key in file_text:
            list_Key.append(key.strip())
    return list_Key

api_key_File_Path = r'D:\Product\API_KEY\API_KEY.txt'

list_Key = Read_API_KEY_From_File(api_key_File_Path)

PLACE_API_KEY = list_Key[0]
ROADS_API_KEY = list_Key[1]

file_Path_To_Store_Data = 'Delhi_Proper_Places.pkl'


google_places = GooglePlaces(PLACE_API_KEY)
gmaps = GoogleMaps(ROADS_API_KEY)

In [12]:
import pickle

list_Places_Delhi = []
file_Path_To_Store_Data = 'Delhi_Proper_Places.pkl'

with open(file_Path_To_Store_Data, 'rb') as f:
    list_Places_Delhi = pickle.load(f)
    
len(list_Places_Delhi)

550

In [10]:
# Place map
gmap = gmplot.GoogleMapPlotter(28.68, 77.13, 13)

In [11]:
all_Types_To_Search = [types.TYPE_PARKING, 
                       types.TYPE_TRAIN_STATION,
                       types.TYPE_TAXI_STAND, 
                       types.TYPE_GAS_STATION,
                       
                       types.TYPE_MOVIE_THEATER,
                       types.TYPE_AIRPORT, 
                       types.TYPE_SHOPPING_MALL, 
                       
#                        types.TYPE_TRANSIT_STATION,
#                        types.TYPE_RESTAURANT,
#                        types.TYPE_AMUSEMENT_PARK, 
#                        types.TYPE_AQUARIUM,
#                        types.TYPE_BEAUTY_SALON,
#                        types.TYPE_CAFE,
#                        types.TYPE_BOWLING_ALLEY,
                       
#                        types.TYPE_GROCERY_OR_SUPERMARKET,
#                        types.TYPE_GYM, 
#                        types.TYPE_LIBRARY,
#                        types.TYPE_HOSPITAL,
                       
#                        types.TYPE_PARK,
#                        types.TYPE_BAR,
                       
                       types.TYPE_GAS_STATION                      
                      ]

# Delhi Grid

In [5]:
# For whole Delhi 
lat_Lower_Range = 28.412593
lat_Upper_Range = 28.881338
long_Lower_Range = 76.838069
long_Upper_Range = 77.348458

# https://www.mapdevelopers.com/geocode_bounding_box.php

# For only New Delhi
# lat_Lower_Range = 28.404100
# lat_Upper_Range = 28.650480
# long_Lower_Range = 77.073010
# long_Upper_Range = 77.344960


kilo_Meter_To_From_Grid = 5

increment_Value = (1/110) * kilo_Meter_To_From_Grid


top_attraction_lats = []
top_attraction_lons = []

lat = lat_Lower_Range
lng = long_Lower_Range

count_Total_Lat_Lng_Created = 0

while lat <= lat_Upper_Range:
    lng = long_Lower_Range
    while lng <= long_Upper_Range:
        top_attraction_lats.append(lat)
        top_attraction_lons.append(lng)
        lng = lng + increment_Value
        count_Total_Lat_Lng_Created = count_Total_Lat_Lng_Created + 1
    
    lat = lat + increment_Value
   
print ("count_Total_Lat_Lng_Created ",count_Total_Lat_Lng_Created)

gmap = gmplot.GoogleMapPlotter(28.68, 77.13, 13)
gmap.scatter(top_attraction_lats, top_attraction_lons, color = '#ff0000 ', size = (kilo_Meter_To_From_Grid * 100), marker = False)

gmap.draw("my_map.html")

count_Total_Lat_Lng_Created  132

In [17]:
gmap.draw("my_map.html")

In [18]:
file_Path_To_Store_Data = 'Delhi_Proper_Places.pkl'
list_Places_Delhi = []
with open(file_Path_To_Store_Data, 'rb') as f:
    list_Places_Delhi = pickle.load(f)

# Delhi Places

In [13]:
top_attraction_lats = []
top_attraction_lons = []

place_Type_Count = []

for types in all_Types_To_Search:
    count = 0
    for place in list_Places_Delhi:
        if (place.types[0] == types):
            count = count + 1   
    place_Type_Count.append((types, count))
    
count = 0
for place in list_Places_Delhi:
    if (place.types[0] in all_Types_To_Search):
        count = count + 1
        top_attraction_lats.append(float(place.geo_location['lat']))
        top_attraction_lons.append(float(place.geo_location['lng']))
    
print ("Total Places ",(count))

print(place_Type_Count)

gmap = gmplot.GoogleMapPlotter(28.68, 77.13, 13)

gmap.scatter(top_attraction_lats, top_attraction_lons, color = '#ff0000 ', size = (2 * 100), marker = False)

gmap.draw("my_map.html")

Total Places  167
[('parking', 38), ('train_station', 15), ('taxi_stand', 24), ('gas_station', 31), ('movie_theater', 20), ('airport', 27), ('shopping_mall', 12), ('gas_station', 31)]

# Nearby Roads

In [44]:
def Get_Nearest_Road_Details(location_To_Search):
    result = gmaps.nearest_roads(location_To_Search)
    
    if (len(result) > 0):
        placeId = str(result[0]['placeId'])
        place_Object = google_places.get_place(placeId)
        return (place_Object)
    else:
        return False

In [29]:
top_attraction_lats = []
top_attraction_lons = []

lat_Near_By_Roads = []
lng_Near_By_Roads = []
    
count = 0

for place in list_Places_Delhi:
    if (place.types[0] in all_Types_To_Search):
        road_place = Get_Nearest_Road_Details(place.geo_location)
        
        if road_place != False:
            count = count + 1
            lat = float(place.geo_location['lat'])
            lng = float(place.geo_location['lng'])
            top_attraction_lats.append(lat)
            top_attraction_lons.append(lng)
            
            lat = float(road_place.geo_location['lat'])
            lng = float(road_place.geo_location['lng'])
            
            lat_Near_By_Roads.append(lat)
            lng_Near_By_Roads.append(lng)
            
            print (count)
            
       
print ("Total Places ",(count))

gmap = gmplot.GoogleMapPlotter(28.68, 77.13, 13)

gmap.scatter(top_attraction_lats, top_attraction_lons, color = '#ff0000', size = (2 * 100), marker = False)

gmap.scatter(lat_Near_By_Roads, lng_Near_By_Roads, color = '#0000FF', size = (2 * 100), marker = False)

gmap.draw("my_map.html")

In [48]:
gmap = gmplot.GoogleMapPlotter(28.68, 77.13, 13)

gmap.scatter(top_attraction_lats, top_attraction_lons, color = '#ff0000', size = 50, marker = False)

gmap.scatter(lat_Near_By_Roads, lng_Near_By_Roads, color = '#0000FF', size = (50), marker = False)

gmap.draw("my_map.html")

# Roads

In [30]:
source_Folder_Path = r'C:\Users\Sachin13390\Desktop\Python_Practice_Files\Nasscom_Data\Data\Vod For 9 Ward 95 Locations'

In [31]:
all_Files = []

for (dirpath, dirnames, filenames) in os.walk(source_Folder_Path):
    
    if (dirpath != folder_Path):
        for (dirpath, dirnames, filenames) in walk(dirpath):
            for file in filenames:
                if file.startswith('VDO'):
#                     print (os.path.join(dirpath, file))
                    all_Files.append(os.path.join(dirpath, file))

In [32]:
len(all_Files)

74

In [37]:
excel_file_Path = all_Files[0]

In [44]:
excel_file_Path

'C:\\Users\\Sachin13390\\Desktop\\Python_Practice_Files\\Nasscom_Data\\Data\\Vod For 9 Ward 95 Locations\\Road 1\\VDO Baner Pashan Link Road 5.xlsx'

In [69]:
df = pd.read_excel(excel_file_Path, sheet_name = 'UP')

df.head(100)

,Classified Traffic Volume Count Survey,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location:,Baner Pashan Link Road,NaN,NaN,Date:,2017-12-28 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Direction:,Towards Baner Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time,Vehicle Category,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Fast Moving Passenger Vehicles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goods Vechiles,...,NaN,LCVS,NaN,NaN,Goods Auto,Tractor + Trailar,Army/Govt Vehicles/Ambulance,Cycle,Other,Animal Hand Drawn
5,NaN,Car/JeepVan(Private),Car/JeepVan(Taxi),3 Wheelers,Two Wheelers,S.T PMPML Buses,Private Bu,Institutional Buses,Mini Bus,2 Axle Trucks,...,Mutli Axle Truck,Type 1 (4 Tyrees),Type 2 (6 Tyrees),Type 3 (Tata Ace),NaN,NaN,NaN,NaN,NaN,NaN
6,08:00 - 08:15,27,9,4,61,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,5,NaN,1
7,08:15 - 08:30,33,5,6,60,1,NaN,1,2,NaN,...,NaN,1,1,NaN,1,NaN,NaN,4,NaN,NaN
8,08:30 - 08:45,37,7,4,80,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
9,08:45 - 09:00,40,12,4,148,1,NaN,NaN,1,NaN,...,NaN,2,1,NaN,NaN,NaN,NaN,3,NaN,NaN
10,09:00 - 09:15,60,9,11,169,NaN,NaN,NaN,NaN,1,...,NaN,NaN,2,4,NaN,NaN,NaN,9,NaN,NaN
11,09:15 - 09:30,86,9,9,194,NaN,NaN,NaN,2,NaN,...,NaN,NaN,3,1,2,NaN,NaN,2,NaN,NaN
12,09:30 - 09:45,62,11,7,219,1,2,1,1,NaN,...,NaN,NaN,1,3,1,NaN,NaN,2,NaN,1
13,09:45 - 10:00,79,14,9,239,1,NaN,NaN,1,1,...,NaN,NaN,NaN,4,NaN,NaN,NaN,3,NaN,NaN
14,10:00 - 10:15,68,11,19,242,NaN,NaN,NaN,1,NaN,...,NaN,1,1,5,2,NaN,NaN,NaN,NaN,NaN
15,10:15 - 10:30,65,6,9,222,NaN,NaN,NaN,NaN,2,...,1,1,1,2,NaN,NaN,NaN,2,NaN,NaN
16,10:30 - 10:45,66,15,15,191,NaN,NaN,1,NaN,NaN,...,NaN,2,2,3,NaN,1,NaN,2,NaN,NaN
17,10:45 - 11:00,71,12,13,231,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,1,NaN,NaN,NaN,NaN,NaN
18,11:00 - 11:15,66,10,11,181,NaN,NaN,1,NaN,NaN,...,1,1,1,5,2,NaN,1,7,NaN,NaN
19,11:15 - 11:30,53,9,23,142,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,5,1,1,NaN,3,NaN,NaN
20,11:30 - 11:45,60,8,13,148,NaN,NaN,NaN,NaN,NaN,...,NaN,1,3,5,5,1,NaN,1,NaN,NaN
21,11:45 - 12:00,57,10,16,163,NaN,NaN,NaN,NaN,1,...,NaN,1,NaN,5,5,NaN,NaN,NaN,NaN,NaN
22,12:00 - 12:15,56,9,15,146,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,3,2,NaN,NaN,1,NaN,NaN
23,12:15 - 12:30,40,8,13,132,1,NaN,1,1,NaN,...,NaN,1,NaN,7,1,NaN,NaN,NaN,NaN,NaN
24,12:30 - 12:45,58,7,7,135,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,NaN,NaN,1,NaN,NaN
25,12:45 - 13:00,64,8,10,141,NaN,NaN,1,NaN,NaN,...,NaN,1,1,2,1,NaN,1,1,NaN,NaN
26,13:00 - 13:15,64,7,11,145,NaN,NaN,1,1,NaN,...,NaN,1,NaN,3,4,NaN,NaN,2,NaN,NaN
27,13:15 - 13:30,51,8,8,123,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,3,2,NaN,NaN,1,NaN,NaN
28,13:30 - 13:45,56,2,8,124,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN
29,13:45 - 14:00,53,6,7,130,NaN,1,NaN,NaN,NaN,...,NaN,1,NaN,5,1,NaN,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,00:00 - 00:15,20,NaN,NaN,16,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
71,00:15 - 00:30,14,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,00:30 - 00:45,19,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
73,00:45 - 01:00,12,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,01:00 - 01:15,18,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
75,01:15 - 01:30,10,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,01:30 - 01:45,3,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
77,01:45 - 02:00,4,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,02:00 - 02:15,2,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
79,02:15 - 02:30,3,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,02:30 - 02:45,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,02:45 - 03:00,2,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,03:00 - 03:15,3,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,03:15 - 03:30,8,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,03:30 - 03:45,2,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,03:45 - 04:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
86,04:00 - 04:15,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
87,04:15 - 04:30,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
88,04:30 - 04:45,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,04:45 - 05:00,3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,05:00 - 05:15,6,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,05:15 - 05:30,3,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
92,05:30 - 05:45,4,NaN,NaN,3,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,05:45 - 06:00,15,NaN,1,8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,06:00 - 06:15,14,NaN,NaN,4,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,06:15 - 06:30,7,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
96,06:30 - 06:45,9,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
97,06:45 - 07:00,14,2,NaN,34,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,07:00 - 07:15,32,6,NaN,43,2,NaN,NaN,1,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,8,NaN,NaN
99,07:15 - 07:30,24,4,4,37,1,1,NaN,3,1,...,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,1

In [70]:
df.iloc[5]['Unnamed: 1']

'Car/JeepVan(Private)'

In [93]:
start_Col_Value = 'Car/JeepVan(Private)'
total_Rows_To_Iterate = 12 # For 8-11 peak hours, for 4 session per hour
total_Cols_To_Iterate = 4

temp_cols = ['Car/JeepVan(Private)', 'Car/JeepVan(Taxi)','3 Wheelers','Two Wheelers']

new_df = pd.DataFrame( columns = temp_cols)

for excel_file_Path in all_Files:
    
    df = pd.read_excel(excel_file_Path, sheet_name = 'UP')

    for row_Index in range (len(df)):

        col_prefix = 'Unnamed: ' 
        start_Counter = 1

        col_name = col_prefix + str(start_Counter)

        if df.iloc[row_Index][col_name] == start_Col_Value:
            
            new_Row = []
            keep_Running = True

            for col_incrementer in range(start_Counter, (start_Counter + total_Cols_To_Iterate)):
                col_name = col_prefix + str(col_incrementer)

                if keep_Running :
                    value_count = 0
                    for current_Row_index in range ((row_Index + 1), (total_Rows_To_Iterate + row_Index + 1)):
                        if (type(df.iloc[current_Row_index][col_name]) is int) and keep_Running:
                            value_count = (df.iloc[current_Row_index][col_name]) + value_count
                        else:
                            keep_Running = False
                            break

                new_Row.append(value_count)

            if keep_Running :
                new_df.loc[len(new_df)] = new_Row     

            col_name = col_prefix + str(start_Counter)

In [94]:
# new_df.sort_values(by=['Car/JeepVan(Private)'] , ascending = False, inplace= True)
# new_df.reset_index(drop=True, inplace=True)

In [95]:
new_df.to_csv('Vehicle_Types_Data.csv', index = False)