In [8]:
import numpy as np
import pandas as pd

In [9]:
csv_File_Path = r'C:\Users\Sachin13390\Desktop\Delhi_Hourly_Avg_Data\new_delhi-wards-2018-1-All-HourlyAggregate.csv'

In [10]:
df = pd.read_csv(csv_File_Path)

In [11]:
df.sort_values(by = ['sourceid', 'dstid', 'hod'], inplace = True,)
df.reset_index(drop = True, inplace=True)

In [16]:
len(df)

1344482

In [20]:
df.head(10)

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,1,1,23,251.61,583.52,123.80,2.46
1,1,2,0,201.70,239.16,161.41,1.73
2,1,2,1,179.86,216.38,144.11,1.68
3,1,2,2,177.80,270.22,137.85,1.69
4,1,2,3,160.20,242.89,130.99,1.59
5,1,2,4,165.12,212.25,133.46,1.63
6,1,2,5,179.11,229.92,137.93,1.75
7,1,2,6,186.06,243.25,142.28,1.75
8,1,2,7,233.85,261.61,183.43,1.78
9,1,2,8,307.32,281.51,247.40,1.81