In [17]:
import pandas as pd
import numpy as np
import warnings
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

c:\users\sachin\appdata\local\programs\python\python36\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [18]:
CSV_File_Path = r'XYZ.csv';

In [23]:
df = pd.read_csv(CSV_File_Path)

In [24]:
# print (df)
df.head()

   Modal_Price  Price_Date
0          750  01-03-2003
1          750  01-06-2003
2          775  01-07-2003
3          825  01-08-2003
4          760  01-10-2003

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838 entries, 0 to 2837
Data columns (total 2 columns):
Modal_Price    2838 non-null int64
Price_Date     2838 non-null object
dtypes: int64(1), object(1)
memory usage: 44.4+ KB

In [27]:
df.columns = ['Modal_Price', 'Price_Date']
df.set_index('Price_Date', inplace=True)
df.head()

            Modal_Price
Price_Date
01-03-2003          750
01-06-2003          750
01-07-2003          775
01-08-2003          825
01-10-2003          760