In [1]:
import pyodbc
import pandas as pd
import json
import csv
import pandas
import ast
import datetime
import os

In [2]:
connection = 0;
cursor = 0;
sql_Query = ''

In [32]:
def Set_Connection():
    global connection
    global cursor
    connection = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=IN-MH1LPW101089;"
                      "Database=FarmerDB;"
                      "Trusted_Connection=yes;")
    cursor = connection.cursor()

In [4]:
# def Execute_Query(sql_Query):
#     cursor.execute(sql_Query);

In [37]:
Set_Connection();

In [6]:
sql_Query = "select * from Farmer;"

In [7]:
sql_Query = "select * from Farmer;";

#cursor.execute(sql_Query)
#results = cursor.fetchall()

In [8]:
for row in results:
    print (row)

NameError: name 'results' is not defined

In [9]:
class Farmer():
    FarmerID = 0;
    FarmerName = 0;
    MobileNumber = ''
    
    def __str__(self):
        return (str(self.__dict__))

In [50]:
class ExpenseLabour():
    Id = 0;
    FarmerID = 0;
    Male = 0;
    Female = 0;
    Ploughing = 0;
    Planting = 0;
    Weeding = 0;
    Harvesting = 0;
    DateTime = 0 ;
    
    def __init__(self, ID, FarmerID ,Male, Female, Ploughing, Planting, Weeding, Harvesting, DateTime):
        self.Id = ID;
        self.FarmerID = FarmerID
        self.Male = Male
        self.Female = Female
        self.Ploughing = Ploughing
        self.Planting = Planting
        self.Weeding = Weeding
        self.Harvesting = Harvesting
        self.DateTime = DateTime
    
    def __str__(self):
        return (str(self.__dict__))

In [62]:
class ExpenseMaterial():
    Id = 0;
    FarmerID = 0;
    Fertilizers = 0;
    Seeds = 0;
    Saplings = 0;
    Pesticides = 0;
    DateTime = 0;
    
    def __init__(self, ID, FarmerID ,Fertilizers, Seeds, Saplings, Pesticides, DateTime):
        self.Id = ID;
        self.FarmerID = FarmerID
        self.Fertilizers = Fertilizers
        self.Seeds = Seeds 
        self.Saplings = Saplings
        self.Pesticides = Pesticides 
        self.DateTime = DateTime
    
    def __str__(self):
        return (str(self.__dict__))

In [43]:
class ExpenseMachinery():
    Id = 0;
    FarmerID = '';
    Tractor = 0;
    Pump = 0;
    DateTime = 0;
    
    def __init__(self, ID ,FarmerID, Tractor, Pump, DateTime):
        self.Id = ID;
        self.FarmerID = FarmerID
        self.Tractor = Tractor
        self.Pump = Pump
        self.DateTime = DateTime
    
    def __str__(self):
        return (str(self.__dict__))

In [51]:
list_Expense = []

In [63]:
new_Expense_Utility_Object = ExpenseMaterial(0,1,56,76,76,23);

list_Expense.append(new_Expense_Utility_Object);

print (new_Expense_Utility_Object)

{'Id': 0, 'FarmerID': 1, 'Fertilizers': 56, 'Seeds': 76, 'Saplings': 76, 'Pesticides': 23}

In [64]:
print (json.dumps(new_Expense_Utility_Object, default=lambda o: o.__dict__))

{"Id": 0, "FarmerID": 1, "Fertilizers": 56, "Seeds": 76, "Saplings": 76, "Pesticides": 23}

In [65]:
s = '''{"Id": 0, "FarmerID": 1, "Fertilizers": 56, "Seeds": 76, "Saplings": 76, "Pesticides": 23}'''

In [39]:
def Run_Insert_Query(sql_Query):
    global cursor
    global connection
    
    #Set_Connection();
    cursor.execute(sql_Query);
    connection.commit()
    #cursor.close();
    #connection.close();

In [40]:
def AddExpenseUtility(json_String):
    
    json_Object = json.loads(json_String)
    
    sql_Query = "insert into ExpenseUtility (FarmerID, Water, Electricity)  values (%d,%d,%d); " % (json_Object["FarmerID"],json_Object["Water"],json_Object["Electricity"]);
    
    print (sql_Query)
    Run_Insert_Query(sql_Query);

In [48]:
def AddExpenseMachinery(json_String):
    
    json_Object = json.loads(json_String)
    
    sql_Query = "insert into ExpenseMachinery (FarmerID, Tractor, Pump)  values (%d,%d,%d); " % (json_Object["FarmerID"],json_Object["Tractor"],json_Object["Pump"]);
    
    print (sql_Query)
    Run_Insert_Query(sql_Query);

In [49]:
AddExpenseMachinery(s)

insert into ExpenseMachinery (FarmerID, Tractor, Pump)  values (1,100,134);

In [60]:
def AddExpenseLabour(json_String):
    
    json_Object = json.loads(json_String)
    
    sql_Query = "insert into ExpenseLabour (FarmerID, Male, Female, Ploughing, Planting, Weeding, Harvesting)  values (%d,%d,%d,%d,%d,%d,%d); " % (json_Object["FarmerID"],json_Object["Male"],json_Object["Female"],json_Object["Ploughing"],json_Object["Planting"],json_Object["Weeding"],json_Object["Harvesting"]);
    
    print (sql_Query)
    Run_Insert_Query(sql_Query);

In [61]:
AddExpenseLabour(s)

insert into ExpenseLabour (FarmerID, Male, Female, Ploughing, Planting, Weeding, Harvesting)  values (1,1000,3000,344,190,150,200);

In [66]:
def AddExpenseMaterial(json_String):
    
    json_Object = json.loads(json_String)
    
    sql_Query = "insert into ExpenseMaterial (FarmerID ,Fertilizers, Seeds, Saplings, Pesticides)  values (%d,%d,%d,%d,%d); " % (json_Object["FarmerID"],json_Object["Fertilizers"],json_Object["Seeds"],json_Object["Saplings"],json_Object["Pesticides"]);
    
    print (sql_Query)
    Run_Insert_Query(sql_Query);

In [67]:
AddExpenseMaterial(s)

insert into ExpenseMaterial (FarmerID ,Fertilizers, Seeds, Saplings, Pesticides)  values (1,56,76,76,23);

In [77]:
class IncomeRent():
    Id = 0;
    FarmerID = 0;
    Warehouse = 0;
    Land = 0;
    Tractor = 0;
    Pump = 0;
    Labour = 0;
    DateTime = 0;
    
    def __init__(self, ID, FarmerID, Warehouse, Land, Tractor, Pump, Labour, DateTime):
        self.Id = ID;
        self.FarmerID = FarmerID
        self.Warehouse = Warehouse
        self.Land = Land 
        self.Tractor = Tractor
        self.Pump = Pump
        self.Labour = Labour
        self.DateTime = DateTime
    
    def __str__(self):
        return (str(self.__dict__))

In [78]:
class IncomeSell:
    Id = 0;
    FarmerID = 0;
    Type = 0;
    Rate = 0;
    Quantity = 0;
    Amount = 0;
    DateTime = 0;
    
    def __init__(self,ID, FarmerID, Type, Rate, Quantity, Amount, DateTime):
        self.Id = ID;
        self.FarmerID = FarmerID
        self.Type = Type
        self.Rate = Rate 
        self.Quantity = Quantity
        self.Amount = Amount
        self.DateTime = DateTime
    
    def __str__(self):
        return (str(self.__dict__))

In [79]:
list_Income = []

In [95]:
new_Expense_Utility_Object = IncomeSell(0,1,'Cotton',23,67,3453);

list_Expense.append(new_Expense_Utility_Object);

print (new_Expense_Utility_Object)

{'Id': 0, 'FarmerID': 1, 'Type': 'Cotton', 'Rate': 23, 'Quantity': 67, 'Amount': 3453}

In [96]:
print (json.dumps(new_Expense_Utility_Object, default=lambda o: o.__dict__))

{"Id": 0, "FarmerID": 1, "Type": "Cotton", "Rate": 23, "Quantity": 67, "Amount": 3453}

In [97]:
def AddIncomeRent(json_String):
    
    json_Object = json.loads(json_String)
    
    sql_Query = "insert into IncomeRent (FarmerID, Warehouse, Land, Tractor, Pump, Labour)  values (%d,%d,%d,%d,%d,%d); " % (json_Object["FarmerID"],json_Object["Warehouse"],json_Object["Land"],json_Object["Tractor"],json_Object["Pump"],json_Object["Labour"]);
    
    print (sql_Query)
    Run_Insert_Query(sql_Query);

In [98]:
s = '''{"Id": 0, "FarmerID": 1, "Type": "Cotton", "Rate": 23, "Quantity": 67, "Amount": 3453}'''

In [92]:
AddIncomeRent(s)

insert into IncomeRent (FarmerID, Warehouse, Land, Tractor, Pump, Labour)  values (1,56,76,76,23,78);

In [107]:
def AddIncomeSell(json_String):
    
    json_Object = json.loads(json_String)
    
    sql_Query = "insert into IncomeSell (FarmerID, Type, Rate, Quantity, Amount)  values (%d,%s,%d,%d,%d); " % (json_Object["FarmerID"], str("'" + json_Object["Type"] + "'") ,json_Object["Rate"],json_Object["Quantity"],json_Object["Amount"]);
    
    print (sql_Query)
    Run_Insert_Query(sql_Query);

In [108]:
s = '''{"Id": 0, "FarmerID": 1, "Type": "Cotton", "Rate": 23, "Quantity": 67, "Amount": 3453}'''

In [110]:
AddIncomeSell(s)

insert into IncomeSell (FarmerID, Type, Rate, Quantity, Amount)  values (1,'Cotton',23,67,3453);

In [ ]:
str(datetime.datetime.now())